# dependencies
node_modules/
.pnp
.pnp.js

# env / secrets
.env
.env.local
.env.*.local
*.env

# build output
dist/
build/
.next/
out/

# prisma
prisma/*.db

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/
*.swp
